*{
  margin: 0;
  padding: 0;
}
a, a:hover {
  text-decoration: none;
}
ul,li {
  list-style: none;
}
.btn-default {
  color: #333;
}
.animated {
  webkit-animation-duration: 2s;
  animation-duration: 2s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}
